.add {
    border: 0;
    position: absolute;
    left: -26px;
    top: -.7em;
    background-color: #176e29;
    border-radius: 2px;
    color: inherit;
}

.add-bottom {
    top: auto;
    bottom: -.5em
}