main {
    position: relative;
    /* background-color: #3c3c3c; */
    width: 80vw;
    /* height: 500px; */
    /* border: 1px solid #30363d; */
    /* border-radius: 10px; */
    /* overflow: hidden; */
}

.row input {
    background-color: #00000000;
    color: inherit;
    border: none;
    font-size: 1em;
    width: 70%;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #00000000;
    border: none;
    border-radius: 0px;
    font-size: 1em;
    color: inherit;
}

.row {
    height: 50px;
    width: 100%;
    margin-top: -1px;
    margin-left: -1px;
    
    border: 1px solid #30363d;

    position: relative;
    display: flex;
    /* background-color: #3c3c3c00; */
    color: #ffffff;
}

.header {
    background-color: #161b22;
    border-radius: 10px 10px 0px 0px;
    padding-top: 1em;
    height: 2em;
    font-size: .8em;
}

.bottom {
    border-radius: 0px 0px 10px 10px; 
}


.column {
    position: relative;
    height: 100%;
    width: 100%;
    /* border-right: 1px solid #30363d; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* display: inline-block; */
    /* background-color: #5d4d4d; */
}

.add {
    border: 0;
    position: absolute;
    left: -26px;
    top: -.7em;
    background-color: #176e29;
    border-radius: 2px;
    color: inherit;
}

.add-bottom {
    top: auto;
    bottom: -.5em
}

.remove {
    border: 0;
    position: absolute;
    left: -26px;
    top: calc(50% - 1em);
    background-color: #9b1717;
    color: inherit;
    border-radius: 2px
}

.mismatch {

    margin: 1em;
    padding: .4em;
}

.up-down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 10px; */
    height: 2em;
    margin-top: .5em;
    /* background-color: #e9d8d8; */
    border-radius: 5px;
    border: 1px solid #30363d;
    overflow: hidden;
}

.up-down button {
    height: 16px;
    width: 2.4em;
    background-color: #161b22;
    border: .5px solid #30363d;
    color: inherit;
}

.save {
    width: 100px;
    margin: 20px;
    position: absolute;
}