.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

h1 {
  font-weight: 500;
  font-size: 2em;
}

a {
  color: #aaaaaa;
}

hr {
  margin: 20px;
  color: #30363d55;
  /* background-color: #30363d; */
  /* border-color: #30363d; */
}

.footer {
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 0.8em;
}
