.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  
}

h1 {
  font-weight: 500;
  font-size: 2em;
}

a {
  color: #aaaaaa;
}

.footer {
  margin-top: 4em;
  margin-bottom: 1em;
  font-size: .8em;
}